﻿@Model = PandaViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    if (Model.Pandas.Count > 0)
    {
        <h4>My registed pandas</h4>
        <table class="table">
            <tbody>
            @foreach (var panda in Model.Pandas)
            {
                <tr>
                    <td>@panda.Name</td>
                    <td>
                        <img src="@panda.PhotoUrl"/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
}
@Html.ActionLink("Создать панду", "Create")


